body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
} 

header { 
    background-color: #333; 
    color: white; 
    padding: 10px 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

nav a { 
    color: white; 
    margin: 0 10px; 
    text-decoration: none; 
} 

nav a:hover { 
    text-decoration: underline; 
} 

section { 
    padding: 20px; 
} 

#home {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 20px;
}

.event-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
}

.service {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
}
.services-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.event button:hover {
    background-color: #0056b3;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form select, form button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.event img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 4px solid #ff7e5f;
}

.event:hover {
    transform: scale(1.08);
    border: 1px solid #ff7e5f;
}

header h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
}
 
